.check-out-item{
    padding: 20px 0px;
    border-bottom: rgb(192, 192, 192) solid thin;
    align-items: center;
}


.check-out-image{
    height: 100px;
    width: 100px;
    align-items: center;
    object-fit: cover;
}

.check-out-block{
    width: 100px;
    text-align: center; 
   
    a {
        text-decoration: none;
        color: black;
    }
   
}

.remove-btn{
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}

.checkout-item-btn i{
    cursor: pointer;
    width: 50px;
    background: rgb(48, 162, 228);
    
    color: white;
    border-radius: 15pt;
}

.checkout-item-btn i:hover{
    background-color:rgb(79, 187, 250); ;
}

.checkout-item-remove-btn i{
    cursor: pointer;
    width: 35px;
    font-size: 35px;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.checkout-item-remove-btn  i:hover{
    background-color: rgb(206, 8, 8) ;
}
