.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo{
        height: 150px;
        margin-top: -50px;
        margin-bottom: -50px;
        margin-left: 10px;
        width: 100px;
    }
    button {
        border: rgb(211, 209, 209) solid thin;
        border-radius: 2px;
        font: 18px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 8px 10px;
        color: #444;
        height: 40px;
        background-color: white;
        outline: none;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        cursor: pointer;
    }

    .right-bar-content{
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        button {
            margin: 0px 10px;
        }
    }
}