.likes-page{
    h1{
        text-align: center;
    }
}

.likes-container{
    display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        padding: 25px;
}

.like-empty-div{
    width: 25%;
}