.item{
    font-family: 'Raleway', sans-serif;
    // height: 25%;
    box-sizing: border-box;
    width: 25%;
    padding: 5px;
}

.item-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;

    a {
        text-decoration: none;
        color: black;
    }
}


.item-image{
    height: 80%;
    width: 100%;

}
.item-image:hover{
    opacity: .7;
}