.item-page{
    display: flex;
    flex-direction: row;
    padding: 20px 75px;
    height: 100%;
    margin-bottom: 150px;
}


.item-page-image-section{
    width: 66vw;
    margin-right: 50px;   
}

.item-page-image{
    box-sizing: border-box;
    width: 50%;
    padding: 5px;
}
.detail-page-empty-div{
    width: 50%;
}
.item-page-detail-section{
    width: 33vw;

}

.item-page-detail-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-page-title{
    font-weight: 800;
    letter-spacing: .5px;
    font-size: 30px;
}

.item-page-price{
    align-self: center;
}

.item-page-description{
    font-size: 16px;
}

.selected{
    background-color: black;
    color: white;
}