.item-page{
    display: flex;
    flex-direction: column;
    padding: 20px 75px;
    height: 100%;
    margin-bottom: 150px;
}

.item-page-top{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.item-page-image-section{
    width: 66vw;
    margin-right: 50px;   
}

.Back-link{
    font-weight: 200;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 10px;
    padding-left: 5px;
}
.Back-link:hover{
   color: rgb(100, 98, 98);
}

.item-page-image{
    box-sizing: border-box;
    width: 50%;
    padding: 5px;
}
.detail-page-empty-div{
    width: 50%;
}
.item-page-detail-section{
    width: 33vw;

}

.item-page-detail-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-page-title{
    font-weight: 800;
    letter-spacing: .5px;
    font-size: 30px;
}

.item-page-price{
    align-self: center;
}

.item-page-description{
    font-size: 16px;
}

.selected{
    background-color: black;
    color: white;
}

.item-page-bottom{
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    h2{
        text-align: center;
        font-weight: 200;
        margin: 50px 0px;
    }
  
}


.detail-p{
    font-size: 18px;
    font-weight: 200;
    width: 45%;
    align-self: center;
    text-align: center;
}


.detail-p-last{
    font-size: 18px;
    font-weight: 200;
    width: 45%;
    align-self: center;
    text-align: center;
    margin-bottom: 100px;
}
.detail-image{
    width: 100%;
    margin: 40px 0px;
}

.rec-p{
    font-size: 16px;
    font-weight: 200;
    align-self: flex-start;
    margin: 0;
    font-weight: 600;
    letter-spacing: -0.3px;
}