.shop-page{
    box-sizing: border-box;
    padding: 25px;

    .shop-page-shoes{
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
    }

    // .grid::after {
    //     content: "";
    //     flex: auto;
    //   }

    .shop-empty-div{
        width: 25%;
    }
}